/* Don't touch this START */
.container {
  padding: 8px;
  border: 2px dotted lightblue;
}

.logo {
  min-width: 40px;
  min-height: 40px;
  border: 2px dotted turquoise;
}

.box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightcoral;
}

.inner-box {
  min-width: 40px;
  min-height: 40px;
  padding: 4px;
  border: 2px dotted lightgreen;
}

.inner-logo {
  min-width: 36px;
  min-height: 36px;
  border: 2px dotted turquoise;
}
/* Don't touch this END */

/* Write CSS Below Here */
/*
1. Practice re-using classes
2. You cannot add new classes (since the HTML must not be changed)
3. You can make new selectors / combinators in this file though:
    https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors
*/

.two-column-grid__expand-two {
  display: grid;
  grid-template-columns: 50px 1fr; 
}

.three-column-grid {
  grid-template-columns: repeat(3, 1fr);
}

.three-column-grid__expand-two {
  grid-template-columns: 1fr 3fr 1fr; /* Middle box takes more space */
}

.five-column-grid {
  grid-template-columns: repeat(5, 1fr);
}

.center-grid {
  display: grid;
  place-items: center; 
}

.grid-in-grid-1 .box {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three columns within each box */
  gap: 4px;
}

.grid-in-grid-2 .box {
  display: grid;
  grid-template-rows: auto; /* Ensures each box behaves as a grid */
  grid-template-columns: 1fr 2fr 1fr;
  gap: 4px;
  grid-template-columns: repeat(2, 1fr);
}

.grid-madness {}
